#TODO: revision parameter

# 6.0 
LOCATE COMP "clk" SITE "P6"
IOBUF PORT "clk" IO_TYPE=LVCMOS33
FREQUENCY PORT "clk" 25 MHZ
LOCATE COMP "rxd_i" SITE "R7"
IOBUF PORT "rxd_i" IO_TYPE=LVCMOS33
LOCATE COMP "txd_o" SITE "T6"
IOBUF PORT "txd_o" IO_TYPE=LVCMOS33

# 7.1
# LOCATE COMP "clk" SITE "P6"
# IOBUF PORT "clk" IO_TYPE=LVCMOS33
# FREQUENCY PORT "clk" 25 MHZ
# LOCATE COMP "rxd_i" SITE "R13"
# IOBUF PORT "rxd_i" IO_TYPE=LVCMOS33
# LOCATE COMP "txd_o" SITE "P11"
# IOBUF PORT "txd_o" IO_TYPE=LVCMOS33

# 8.0
# LOCATE COMP "clk" SITE "P6"
# IOBUF PORT "clk" IO_TYPE=LVCMOS33
# FREQUENCY PORT "clk" 25 MHZ
# LOCATE COMP "rxd_i" SITE "R7"
# IOBUF PORT "rxd_i" IO_TYPE=LVCMOS33
# LOCATE COMP "txd_o" SITE "T6"
# IOBUF PORT "txd_o" IO_TYPE=LVCMOS33